#Wed Aug 22 16:39:43 CEST 2007
option.html.addMarkOfTheWeb=true
xml.closeOnFinish=false
xml.files=../examples/HumanEvolution.xsd;../lib/xsd/XMLSchema/XMLSchema.xsd
xml.launchViewer=true
xml.outputDir=../out
xml.outputFile=
xml.outputFormat=HTML
xml.template=../templates/XSDDocFrames.tpl;../templates/XSDDoc.tpl;../templates/XMLDoc.tpl;../templates/XMLDocFrames.tpl
